.push{
    width: 15rem;
    height: 25rem;
    margin: calc(10vh/2) calc(5vw/2) calc(10vh/2) calc(5vw/2);
    background: #5fadc9;
    transition: 0.5s;
}

.push:active{
    background: #ccf1ff;
    width: 20rem;
    height: 30rem;
}

div.push p{
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;
    color: #43305e;
    
}
